body
{
    background-color: #eeeee4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

#container
{
    width: 900px;
    margin: auto;
    background-color: #cce7e8;
    overflow: hidden;
}
#header
{
    height: 175px;
}
#navigation
{
    background-color: #1e81b0;
    text-align: center;
    padding: 10px;
    border: 1px solid #21130d;
}

a
{
    color: #eeeee4;
    text-decoration: none;
    margin: 37px;

}

a:hover
{
    background-color: #e28743;
}

a:visited
{
    color: #cce7e8;
}

.img-left
{
    float: left;
    border: 1px solid #21130d;
    padding: 10px;
    margin-right: 5px;
}

#footer
{
    background-color: #e28743;
    padding: 10px;
}

#content
{
    height: 1600px;
}

#gideros
{
    float: left;
    border: 5px solid #1e81b0;
    height: 700px;
    width: 400px;
    margin: 8px;
}

#tepe
{
    float: right;
    border: 5px solid #1e81b0;
    height: 700px;
    width: 400px;
    margin: 8px;
}

#contact{
    border: 2px solid #1e81b0;
    color: black;
    padding: 1rem;
}

#contact .contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.text-center{
    text-align: center;
}

.form-group{
    padding: 0.25rem 0;
}

.form-control{
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    resize: none;
    border-radius: 5px;
}

.btn{
    margin-top: 1.25rem;
    padding: 0.8rem 3rem;
    border-radius: 7px;
    letter-spacing: 1px;
}

.btn-block{
    width: 100%;
    text-align: center;
}